a {
    text-decoration: none;
}

/* Add underline only on hover */
a:hover {
    text-decoration: underline;
}

p {
  font-family: Impact, sans-serif;
}

body {
  font-family: Impact, sans-serif;
  background-image: url("concrete-seamless.jpg");
}

table {
  table-layout: fixed;
  width: 100%;
}

table th, table td {
  vertical-align: top;
  text-align: left;
}

